# Azure Notification Hub
AZURE_NOTIFICATION_HUB_CONNECTION_STRING=
AZURE_NOTIFICATION_HUB_NAME=

# VAPID Keys
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=

# Server
PORT=8000
FRONTEND_URL=http://localhost:5173
